
iframe, img{border:0px;}
input{width:125px; background-color:#f9f9f9; padding:5px; margin-left:1%; margin-bottom:5px; border:none; border:solid 1px #dde2e4; float:left;}
select{height:28px; width:281px; background-color:#f9f9f9; padding:5px; margin-bottom:5px; border:none; border:solid 1px #dde2e4; float:left; color:#a9a9a9; margin-left:1%;}
input[type=text]:focus, textarea:focus {-webkit-transition: all 0.50s ease-in-out; -moz-transition: all 0.50s ease-in-out;  -ms-transition: all 0.50s ease-in-out; -o-transition: all 0.50s ease-in-out; outline: none; box-shadow: 0 0 2px #7e1e7d; border: 1px solid #7e1e7d;}
.btn{background-color:#fff; color:#7e1e7d; text-transform:uppercase; font-weight:bold; font-size:16px; width: 163px; margin:0px auto; border:none; cursor:pointer; height:27px; padding-top:6px;margin-left:8px;}

.frm{position:relative; background-color:#f6f6f6; width: 30%; float:right; text-align:center; margin:-392px 0px 0px 10px; border:solid 3px #dbdbdb; z-index:9999;}
.rspnsFrm{width: 100%;text-align: center;margin: 0px auto;padding:10px;}
section .frm h1{color:#6d0679; text-transform:uppercase; font-weight:bold; margin:13px; margin-bottom:5px; font-size:16px;}

.error{ font-size:11px; color:#ff0000; font-weight:normal; position: absolute; margin-left: 10px; background:#f9f9f9; top:4px; left:-5px;
}
.flds { position:relative; float:left; margin-left:8px;}
input.mbl{width:229px;}
input.mail{width:269px;}

@media screen and (max-width:768px) {
.frm{ background-color:#f6f6f6; width: 100%; text-align:center; margin:0px; border:solid 3px #dbdbdb; z-index:9999;}
header{width:100%; background:url(../images/320/bg-Tpbnr.jpg) no-repeat left bottom; height:392px; margin-top:0px; padding-top:0px;}
header .frm{width:320px; height:360px; position:absolute; top:392px;}
header .frm h1{margin-top:15px; margin-left:0px;}
header .frm fieldset{width:310px; margin-left:0px;}
input[type="checkbox"]{width:14px; height:14px; float:left; margin-left:2px; margin-right:2px; margin-top:3px;}
header .frm fieldset label{width:255px;}
input{width:290px; background-color:#f9f9f9; padding:5px; margin-left:1%; margin-bottom:5px; border:none; border:solid 1px #dde2e4; float:left;}
select{width:300px;}
input.txtname{width:135px;}
input.mbl{width:250px;}
  input.mail{width:290px;}
}

@media screen and (max-width:480px) {
.frm{ background-color:#f6f6f6; width: 100%; text-align:center; margin:0px; border:solid 3px #dbdbdb; z-index:9999;}
header{width:100%; background:url(../images/320/bg-Tpbnr.jpg) no-repeat left bottom; height:392px; margin-top:0px; padding-top:0px;}
header .frm{width:320px; height:360px; position:absolute; top:392px;}
header .frm h1{margin-top:15px; margin-left:0px;}
header .frm fieldset{width:310px; margin-left:0px;}
input[type="checkbox"]{width:14px; height:14px; float:left; margin-left:2px; margin-right:2px; margin-top:3px;}
header .frm fieldset label{width:255px;}
input{width:290px; background-color:#f9f9f9; padding:5px; margin-left:1%; margin-bottom:5px; border:none; border:solid 1px #dde2e4; float:left;}
select{width:300px;}
input.txtname{width:135px;}
input.mbl{width:250px;}
  input.mail{width:290px;}
}